<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseToJoystick2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <MouseToJoystick2.Properties.Settings>
                <setting name="DeviceId" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="InvertX" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="InvertY" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="LeftJoy" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="RightJoy" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AutoScreenSize" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ScreenWidth" serializeAs="String">
                        <value>640</value>
                </setting>
                <setting name="ScreenHeight" serializeAs="String">
                        <value>480</value>
                </setting>
        </MouseToJoystick2.Properties.Settings>
    </userSettings>
</configuration>